body{
    margin: 0px;
    overflow:hidden;
    padding: 0px;
}

h2{
    color: white;
    position: absolute;
    top: -5px;
    left: 0px;
    margin-left: 65px;
}

#foto{
   width: 100%;
    margin: 0px auto;
}

.links{
   position: fixed;
   top: 10px;
   right: 0px;
   margin-right: 20px;
   word-spacing: 30px;
   margin-top: 10px;
   font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
}

span{
    color: darkblue;
}

#contact{
  
    border-radius: 10px;
    background-color: darkblue;
    padding: 5px;
}

a:active{
    color: red;
}
